<launch>
    <!-- Nodo 1: Detección de señales -->
    <node pkg="rubot_projects" type="keras_takePictures_detect_signs.py" name="keras_takePictures_detect_signs" output="screen" />

    <!-- Nodo 2: Acción según la clase predicha -->
    <node pkg="rubot_projects" type="keras_make_move_action.py" name="keras_make_move_action" output="screen" />
</launch>
